.row
  %img#image

#buttons

#success{hidden: true}
  .result
    %p Super! :)

#error{hidden: true}
  .result
    %p Spróbuj jeszcze raz :(

%script{type: 'text/javascript'}
  window.files = #{files}

= javascript 'game'
