.row#lives
  - 5.times do
    %img.heart{src: 'assets/heart.png', width: 32, height: 32}

.row
  %img#image

#buttons

#success{hidden: true}
  .result
    %p Super! ☺

#error{hidden: true}
  .result
    %p Spróbuj jeszcze raz ☹

#end{hidden: true}
  .result
    %p Koniec gry!

%script{type: 'text/javascript'}
  window.files = #{files}

= javascript 'game'
