body {
  font-family: sans-serif;
}

.result {
  margin: auto;
  width: 40%;
  height: 200px;
  font-size: 40pt;
  z-index: 5;
  p {
    padding-top: 80px;
    display: block;
    text-align: center;
  }
}

.result-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: rgba(200,200,200,0.8);
}

#success {
  @extend .result-box;
  .result {
    background-color: #0F0;
  }
}

#error {
  @extend .result-box;
  .result {
    background-color: #F00;
  }
}

#image {
  margin: auto;
  border: 1px solid black;
  display: block;
  max-width: 50%;
  max-height: 300px;
}

#buttons {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .link {
    margin: 20px;
    display: flex;

    a {
      padding: 15px;
      background-color: #DDD;
      font-size: 30pt;
      font-family: sans-serif;
      color: black;
      text-decoration: none;
      text-align: center;
    }
  }
}
